<div ng-controller="homeController">
    <h1>Secure Password Generator</h1>
    <p>
       Secure passwords should be as random and complex as possible, which makes them hard to remember. 
       Easy to remember passwords often contain personal details or whole words that compromise their security.
       This application attempts to provide a fix. 
    </p>
    <p>
       This application takes sentences that the user should find easy to remember as it's input. 
       Ideally, to make recollection easier, these sentences will be tied to the service the password is for.
       These sentences are run through a simple algorithm that takes the first letter of each word 
       as characters for the password. These letters are then replaced by numbers which <span class="highlight">kinda</span>
       look like the letter. Then, optionally, the next letter following a letter to number conversion is capitalized.
    </p>
    <p>
        Try it out by click the <a href="#/pw-gen">Password Generator</a> link above!
    </p>
    <p>
        <div class="showHide" ng-click="toggleExample()">{{exampleToggleText}}</div>
        <div ng-show="exampleVisible">
            <div>This is a simple sentence for a password -> t1455F4P</div>
        </div>
    </p>
    <div class="showHide" ng-click="chartToggle()">{{showChartValue}}</div>
    <table ng-show="showChart">
        <th>Letter</th>
        <th>Replacement</th>
        <tr ng-repeat="(key, value) in replace_rules">
            <td>{{key}}</td><td>{{value}}</td>
        </tr>
    </table>    
</div>